<h1 mat-dialog-title>Open Show</h1>
<div mat-dialog-content>
  <mat-table [dataSource]="shows" class="mat-elevation-z4">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef class="title-cell"> Name </mat-header-cell>
      <mat-cell *matCellDef="let element" class="title-cell">
        <input matInput class="mat-input-element" [(ngModel)]="element.name" (change)="updateShow(element)">
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="modifyDate">
      <mat-header-cell *matHeaderCellDef> Last Modified </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{formatDate(element.modifyDate)}}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectShow(row.id)" [ngClass]="selectedShowId === row.id?'selected':''"></mat-row>
  </mat-table>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="cancel()">Cancel</button>
  <button mat-raised-button color="accent" (click)="remove()" [disabled]="selectedShowId === null">Delete</button>
  <button mat-raised-button color="primary" (click)="open()" cdkFocusInitial [disabled]="selectedShowId === null">Open</button>
</div>
