.timeline {
  display: flex;
}

.timeline-buttons {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
}

.timeline-row {
  display: flex;
  justify-content: space-around;
}

.timeline-time {
  padding: 0 5px;
}

.timeline-wave {
  flex: 1 1 auto;
}

.timeline-popup {
  position: absolute;
  top: 0;
  bottom: 0;
  display: none;
}

.timeline-wave > wave {
  overflow: scroll hidden !important;
}
